<div class="row">
    <div class="col-12 col-md-2"></div>
    <div class="col-12 col-md-8">
            <div class="form-group">
                <label for="description">Description</label>
                <input type="text" [(ngModel)]="todo.description" class="form-control" id="description" placeholder="text">
            </div>
            <div class="form-group">
                <label for="description">End Date</label>
                <input type="date" class="form-control" [ngModel] ="todo.dueDate | date:'yyyy-MM-dd'" (ngModelChange)="todo.dueDate = $event" id="description" placeholder="date"> 
            </div>
            <button type="submit" class="btn btn-success" (click)="save()">Submit</button>
            <!-- [ngModel] ="todo.date | date:'yyyy-mm-dd'" (ngModelChange)="todo.date = $event" -->
    </div>
    <div class="col-12 col-md-2"></div>
</div>
  
